
@media all and (max-width: 599px) and (min-width: 100px) {

/* Meidum sized phones and other devices (phones, 600px and down) */

#QuarksLogo{
	position:absolute;
	margin-left: 2vw;
	height: 15vw;
	width: 15vw;
}

#nameQuarks{
	font-family: 'Quicksand';
	font-size: 10vw;
	text-decoration: none;
	margin-left: 10vw;
}
	
.OutQuarks{
	margin-top: 30vw;
}

.Quarks{
	position: absolute;
	background: white;
	width:100vw;
	margin-left: 0vw;
}

.quarkHalf {
  height: 185vw;
  max-height: 185vw;
  min-height: 185vw;
}

.QuarkCards{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 95vw;
  max-width: 95vw;
  min-width: 95vw;
  background: white;
  margin-left: -1.5vw;
  height: 150vw;
  max-height: 150vw;
  min-height:150vw;
}

.QuarkCards:hover{
 	-webkit-transform: scale(1);
 	 -ms-transform: scale(1);
 	 transform: scale(1);
}

.quarkImages{
	height:60vw;
	max-height:60vw;
	min-height:60vw;
  	width:95vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width: 95vw;
	min-width: 95vw;
}

.QuarkTitle{
	font-weight: 900;
	font-family: 'Source Serif Pro';
	font-size: 4.5vw;
	color: black;
	background: white;
	height:10vw;
	max-height:10vw;
	min-height: 10vw;
	margin-top: 1vw;
}

.writings{
	font-family: 'Source Serif Pro';
	font-size:4vw;
	height: 82.5vw;
	max-height:82.5vw;
	min-height:82.5vw;
	width:95vw;
	min-width:95vw;
	max-width:95vw;
	background:white;
	padding-left:1.5vw;
	padding-right:1.5vw;
	padding-top:0.5vw;
}

.QuarkBottomStrip{
	background: #000000;
	height: 12vw;
	max-height:12vw;
	min-height:12vw;
	width:95vw;
	max-width:95vw;
	min-width:95vw;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top:-2vw;
}

.ScienceTag{
	font-family: 'Source Serif Pro';
	position:absolute;
	margin-left: 75vw;
	margin-top:-10vw;
	font-size:3.5vw;
	padding: 1vw;
}

.AuthorName{
	font-family: 'Source Serif Pro';
	font-size:2.75vw;
	position:absolute;
	color:white;
	margin-left: 1.25vw;
	margin-top:-10vw;
}

.DateOfQuark{
	position:absolute;
	color:white;
	margin-top: -6vw;
	margin-left: 1.25vw;
	font-size:2.75vw;
	font-family: 'Source Serif Pro';
}
/*
#LikeQuarkFb{
	position: absolute;
	margin-left: 37vw;
	margin-top: -10vw;
}
*/
.listenBtn{
	position: absolute;
	margin-left: 42.5vw;
	font-size:5vw;
	margin-top: -12vw;
	color:white;
}
/*home page styles */
#QuarksLogoHome{
	margin-left: 8vw;
	height: 60px;
	width: 60px;
}

#nameQuarksHome{
	font-family: 'Quicksand';
	font-size: 40px;
	text-decoration: none;
	margin-left: -1vw;
}

#div1Home{
	background: white;
}

#joinQuoteHome{
	margin-top: 35vh;
	margin-left: 10vw;
	font-family: 'Quicksand';
	font-size: 40px;
	font-weight: 900; 
	width:40vw;
}

#joinQuarksLineHome{
	margin-left: 10vw;
	font-family: 'Source Serif Pro';
	font-size: 18px;
	width: 40vw; 
	margin-top: -5vh;
}

#homeAmoeba1{
	position: absolute;
	margin-left: 50vw;
	height: 350px;
	width: 45vw;
	margin-top: -15vh;
}

#homeAmoeba2{
	position: absolute;
	margin-left: 10vw;
	margin-top: 15vh;
	height: 470px;
	width: 35vw;
}

#exploreQuarksHome{
	margin-left: 2vw;
	font-family: 'Source Serif Pro';
}

#subscribeQuarksHome{
	margin-left: 10vw;
	font-family: 'Source Serif Pro';
}

.navItems{
	text-decoration: none;
}

#navItem1{
	color:red;
	margin-left: 40vw
}

.navItems:hover {
	color:red;
}

#navItem1Quarks{
	color:black;
	margin-left: 40vw
}

#navItem2Quarks{
	color:red;
}

#WhyQuarksHome{
	position:absolute;
	margin-top: 35vh;
	margin-left: 35vw;
	font-family: 'Quicksand';
	font-size: 30px;
	font-weight: 900; 
	width:40vw;
}

#ingredientsHome{
	position:absolute;
	margin-top: 25vh;
	margin-left: 52vw;
	font-family: 'Helvetica';
	font-size: 15px; 
	width:40vw;
}

.WhyQuarkCards{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height:460px;
  width:300px;
  max-width:400px;
  min-width:300px;
  margin-top: 10vh;
  border-radius: 10px;
  background: white;
  max-height: 460px;
  min-height: 460px;
  margin-left: 2vw;
}

.WhyQuarkCards:hover{
 -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.WhyQuarks{
	margin-top: 25vh;
	margin-left: 5vw;
	width: 85vw;
}

.whyQuarkImages{
	height:200px;
	max-height:200px;
	min-height:200px;
  	width:300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.WhyQwriting{
	font-family: 'Source Serif Pro';
	margin-top: -2vh;
	font-size:14.3px;
	height: 150px;
}

.count1{
	position:absolute;
	font-family: 'Helvetica';
	margin-top: 15vh;
	margin-left: 30vw;
	font-size:25px;
	font-weight: 900;
}

.count2{
	position:absolute;
	font-family: 'Helvetica';
	margin-top: 15vh;
	margin-left: 45vw;
	font-size:25px;
	font-weight: 900;
}

.count3{
	position:absolute;
	font-family: 'Helvetica';
	margin-top: 15vh;
	margin-left: 60vw;
	font-size:25px;
	font-weight: 900;
}

}
