
@media all and (max-width: 599px) and (min-width: 100px) {

/* Meidum sized phones and other devices (phones, 600px and down) */

#QuarksLogo{
	position:absolute;
	margin-left: 2vw;
	height: 15vw;
	width: 15vw;
}

#nameQuarks{
	font-family: 'Quicksand';
	font-size: 10vw;
	text-decoration: none;
	margin-left: 10vw;
}
	
.OutQuarks{
	margin-top: 30vw;
}

.Quarks{
	position: absolute;
	background: white;
	width:100vw;
	margin-left: 0vw;
}

.quarkHalf {
  height: 185vw;
  max-height: 185vw;
  min-height: 185vw;
}

.QuarkCards{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 95vw;
  max-width: 95vw;
  min-width: 95vw;
  background: white;
  margin-left: -1.5vw;
  height: 150vw;
  max-height: 150vw;
  min-height:150vw;
}

.QuarkCards:hover{
 	-webkit-transform: scale(1);
 	 -ms-transform: scale(1);
 	 transform: scale(1);
}

.quarkImages{
	height:60vw;
	max-height:60vw;
	min-height:60vw;
  	width:95vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width: 95vw;
	min-width: 95vw;
}

.QuarkTitle{
	font-weight: 900;
	font-family: 'Source Serif Pro';
	font-size: 4.25vw;
	color: black;
	background: white;
	height:10vw;
	max-height:10vw;
	min-height: 10vw;
	margin-top: 1vw;
}

.writings{
	font-family: 'Source Serif Pro';
	font-size:4vw;
	height: 82.5vw;
	max-height:82.5vw;
	min-height:82.5vw;
	width:95vw;
	min-width:95vw;
	max-width:95vw;
	background:white;
	padding-left:1.5vw;
	padding-right:1.5vw;
	padding-top:0.5vw;
}

.QuarkBottomStrip{
	background: #000000;
	height: 12vw;
	max-height:12vw;
	min-height:12vw;
	width:95vw;
	max-width:95vw;
	min-width:95vw;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top:-2vw;
}

.ScienceTag{
	font-family: 'Source Serif Pro';
	position:absolute;
	margin-left: 75vw;
	margin-top:-10vw;
	font-size:3.5vw;
	padding: 1vw;
}

.GenKnowledgeTag{
	font-family: 'Source Serif Pro';
	position:absolute;
	margin-left: 60vw;
	margin-top:-10vw;
	font-size:3.5vw;
	padding: 1vw;
}

.BusinessTag{
	font-family: 'Source Serif Pro';
	position:absolute;
	margin-left: 73vw;
	margin-top:-10vw;
	font-size:3.5vw;
	padding: 1vw;
}
.AuthorName{
	font-family: 'Source Serif Pro';
	font-size:2.75vw;
	position:absolute;
	color:white;
	margin-left: 1.25vw;
	margin-top:-10vw;
}

.DateOfQuark{
	position:absolute;
	color:white;
	margin-top: -6vw;
	margin-left: 1.25vw;
	font-size:2.75vw;
	font-family: 'Source Serif Pro';
}
/*
#LikeQuarkFb{
	position: absolute;
	margin-left: 37vw;
	margin-top: -10vw;
}
*/
.listenBtn{
	position: absolute;
	margin-left: 42.5vw;
	font-size:5vw;
	margin-top: -8.5vw;
	color:white;
}
/*home page styles */


/*STYLES FOR HOME PAGE OF QUARKS AND SUBMIT!*/
#div1H{
	background:yellow;
	height:180vw;
	max-height: 180vw;
	min-height:180vw;
}
	
	
#joinQuoteHome{
	margin-top: 20vw;
	margin-left: 6vw;
	font-family: 'Quicksand';
	font-size: 6.75vw;
	font-weight: 900; 
	width: 80vw;
	max-width: 80vw;
	min-width: 80vw;
}

#joinQuarksLineHome{
	margin-left: 6vw;
	font-family: 'Source Serif Pro';
	font-size: 4vw;
	width: 80vw;
	max-width: 80vw;
	min-width: 80vw; 
	margin-top: -2vw;
}

#homeAmoeba1{
	height: 50vw;
	width: 80vw;
	margin-top: 10vw;
	margin-left: 4vw;
}

#homeAmoeba2{
	position: absolute;
	margin-left: 10vw;
	margin-top: 15vh;
	height: 470px;
	width: 35vw;
}

#exploreQuarksHome{
	margin-left: 2vw;
	font-family: 'Source Serif Pro';
	font-size: 4vw;
	margin-top:3.5vw;
}

#subscribeQuarksHome{
	margin-left: 6vw;
	font-family: 'Source Serif Pro';
	font-size: 4vw;
	margin-top:3.5vw;
}

.navItems{
	text-decoration: none;
}

#navItem1{
	color:red;
	margin-left: 40vw
}


#navItem1Quarks{
	font-family: 'Source Serif Pro';
	font-size:1.3vw;
	color:black;
	margin-left: 70vw;
	position:absolute;
}

#navItem2Quarks{
	font-family: 'Source Serif Pro';
	font-size:1.3vw;
	margin-left: 75vw;
	position:absolute;
	color:red;	
}

#navItems3Quarks{
	font-family: 'Source Serif Pro';
	font-size:1.3vw;
	color:black;
	margin-left: 81vw;
	position:absolute;
}

#navItems3Quarks:hover{
	color:blue;
}

#navItems4Quarks{
	font-family: 'Source Serif Pro';
	font-size:1.3vw;
	color:black;
	margin-left: 88vw;
	position:absolute;	
}


#navItems4Quarks:hover{
	color:blue;
}
#div1ImgH{
	background: white
	}
#WhyQuarksHome{
	position:absolute;
	margin-top: 10vw;
	margin-left: 8.5vw;
	font-family: 'Quicksand';
	font-size: 5vw;
	width: 91.5vw;
	min-width: 91.5vw;
	max-width: 91.5vw;
	font-weight: 900; 
	background: red;
}

#divOuterCards{
	margin-top: 10vw;
	background: pink;
	position:absolute
}

.quarkThird{
  height: 165vw;
  max-height: 165vw;
  min-height: 165vw;	
  background: #bbb;
}

.WhyQuarkCards{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 95vw;
  max-width: 95vw;
  min-width: 95vw;
  background: white;
  margin-left: -1.75vw;
  height: 150vw;
  max-height: 150vw;
  min-height:150vw;
}

.WhyQuarkCards:hover{
 -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.WhyQuarks{
	position: absolute;
	background: yellow;
	width:100vw;
	margin-left: 0vw;
}

.whyQuarkImages{
	height:60vw;
	max-height:60vw;
	min-height:60vw;
  	width:95vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width: 95vw;
	min-width: 95vw;
}

.whyQuarkTitle{
	font-weight: 900;
	font-family: 'Source Serif Pro';
	font-size: 4.25vw;
	color: black;
	background: white;
	height:10vw;
	max-height:10vw;
	min-height: 10vw;
	margin-top: 1vw;
}
	
.WhyQwriting{
	font-family: 'Source Serif Pro';
	font-size:5vw;
	height: 72.5vw;
	max-height:72.5vw;
	min-height:72.5vw;
	width:95vw;
	min-width:95vw;
	max-width:95vw;
	background:white;
	padding-left:1.5vw;
	padding-right:1.5vw;
	padding-top:0.5vw;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#QuarkSubsHome{
	position:absolute;
	margin-top: 5vw;
	margin-left: 35vw;
	font-family: 'Quicksand';
	font-size: 2.25vw;
	font-weight: 900; 
}

.subImages{
	position: relative;
	height:22vw;
	width:16vw; 
}

#subSciencePic{
	margin-left: -1.25vw;
}
/*Adding 17.25 margin-left per image*/
#subStoryPic{
	margin-left: 16vw;
	margin-top: -5.85vw; 
}

#subMathsPic{
	margin-left: 33.25vw;
	margin-top: -5.85vw; 
}

#subFinancePic{
	margin-left: 50.5vw;
	margin-top: -5.85vw;; 
}

#subEpicsPic{
	margin-left: 67.75vw;
	margin-top: -5.85vw; 
}

#subPsychologyPic{
	margin-left: 85vw;
	margin-top: -5.85vw; 
}

.subName{
	position:relative;
	font-family: 'Source Serif Pro';
	font-size: 3.25vw;
	color:white;
}

#subScienceTxt{
	margin-top: -21vw;
	margin-left: 0vw;
}

#subStoryTxt{
	margin-top: -21vw;
	margin-left: 19vw;
}

#subMathsTxt{
	margin-top: -21vw;
	margin-left: 36vw;
}

#subFinanceTxt{
	margin-top: -21vw;
	margin-left: 51.5vw;
}

#subEpicsTxt{
	margin-top: -21vw;
	margin-left: 71.5vw;
}

#subPsychologyTxt{
	margin-top: -21vw;
	margin-left: 87vw;
}

#subPsychologyTxt2{
	margin-top: -1vw;
	margin-left: 87vw;

}

.statsNum{
	color: purple;
	font-family: 'Source Serif Pro';
	font-size: 5vw;
}

.statsName{
	color: black;
	font-family: 'Source Serif Pro';
	font-size: 2vw;
}

.OutstatCards{
	margin-top: 14vw;
	margin-left: 4vw;
}

.StatisticsCards{
	height:12vw;
	width: 18vw; 
	background: white;
	border-radius: 10px;
}

#statDiv{
	height: 35vw;
	width: 100vw;
	background: white
}

#contributeHeading{
	margin-top: 0vw;
	margin-left: 35vw;
	font-family: 'Quicksand';
	font-size: 2.25vw;
	font-weight: 900; 
}

#contributeDiv{
	height:30vw;
	background: white;
}

#contributePic{
	margin-top: 5vw;
	height:20vw;
	width:35vw;
	margin-left: 7vw;
}

#contributeLine{
	margin-top: 3vw;
	margin-left: 5vw;
	margin-right:2vw;
	font-family: 'Source Serif Pro';
	font-size: 1.25vw;
}

#contributeBtn{
	margin-top: 3vw;
	margin-left: 5vw;
}


#SubmitHeading{
	margin-top: 10vw;
	margin-left: 26vw;
	font-family: 'Quicksand';
	font-size: 2.25vw;
	font-weight: 900; 
	color: purple;
}











.count1{
	position:absolute;
	font-family: 'Helvetica';
	margin-top: 15vh;
	margin-left: 30vw;
	font-size:25px;
	font-weight: 900;
}

.count2{
	position:absolute;
	font-family: 'Helvetica';
	margin-top: 15vh;
	margin-left: 45vw;
	font-size:25px;
	font-weight: 900;
}

.count3{
	position:absolute;
	font-family: 'Helvetica';
	margin-top: 15vh;
	margin-left: 60vw;
	font-size:25px;
	font-weight: 900;
}

}
