#QuarksLogo{
	position: absolute;
	margin-left: 42vw;
	height: 60px;
	width: 60px;
	margin-top: 3vh;
}

#nameQuarks{
	position:absolute;
	margin-left: 47vw;
	font-family: 'Raleway';
	font-size: 40px;
	margin-top: 3vh;
}

.Quarks{
	position:absolute;
	margin-top: 15vh;
	background: #696969;
}

.try{
	background: grey;
}

.QuarkCards {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height:90vh;
  width:30vw;
  margin-top: 10vh;
  border-radius: 10px;
  background: white
}

.cardLeft{
	margin-left: 15vw;
}

.cardRight{
	margin-right: 15vw;
}

.QuarkCards:hover{
 -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.quarkImages{
	height:30vh;
	width: 30vw;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.QuarkTitle{
	font-weight: 900;
	font-style: italic;
	font-size:20px;
	color: black;
}

#QuarksRow2{
	margin-top: 115vh;
}
