#QuarksLogo{
	margin-left: 40vw;
	height: 60px;
	width: 60px;
}

#nameQuarks{
	position: absolute;
	margin-left: 45vw;
	font-family: 'Raleway';
	font-size: 40px;
	text-decoration: none;
}

.Quarks{
	margin-top: 15vh;
	margin-left: 11vw; 
	width: 80vw;
}

.QuarkCards {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height:560px;
  width:407px;
  margin-top: 10vh;
  border-radius: 10px;
  background: white;
  max-height: 560px;
  min-height: 560px;
}

.QuarkCards:hover{
 -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.quarkImages{
	height:250px;
	max-height:250px;
	min-height:250px;
  	width:407px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.QuarkTitle{
	font-weight: 900;
	font-family: 'Garamond';
	font-size:18px;
	color: black;
}

.writings{
	font-family: 'Garamond';
	margin-top: -1vh;
	font-size:15px;
}

.QuarkBottomStrip{
	background: #000000;
	margin-top: -5px;
	height:46px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.SubjectTag{
	margin-top: -70px;
	margin-left: 22.75vw;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left:10px;
	padding-right:10px;
}

.AuthorName{
	color:white;
	margin-top: -60px;
	margin-left: 1.25vw;
	font-size:10px;
}

.DateOfQuark{
	color:white;
	margin-top: 0vh;
	margin-left: 1.25vw;
	font-size:10px;
}

#QuarksRow2{
	margin-top: 115vh;
}
