

#QuarksLogo{
	margin-left: 40vw;
	height: 60px;
	width: 60px;
}

#nameQuarks{
	position: absolute;
	margin-left: 45vw;
	font-family: 'Raleway';
	font-size: 40px;
	text-decoration: none;
}

.Quarks{
	margin-top: 15vh;
	margin-left: 12vw; 
	width: 75vw;
}

.QuarkCards {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height:560px;
  width:407px;
  max-width:407px;
  min-width:407px;
  margin-top: 10vh;
  border-radius: 10px;
  background: white;
  max-height: 560px;
  min-height: 560px;
}

.QuarkCards:hover{
 -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.quarkImages{
	height:250px;
	max-height:250px;
	min-height:250px;
  	width:407px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.QuarkTitle{
	font-weight: 900;
	font-family: 'Garamond';
	font-size:18px;
	color: black;
	margin-top: 1vh;
}

.writings{
	font-family: 'Garamond';
	margin-top: -2vh;
	font-size:15.3px;
	height: 200px;
}

.QuarkBottomStrip{
	background: #000000;	
	margin-top: 11px;
	height:46px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ScienceTag{
	margin-top: -70px;
	margin-left: 310px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left:10px;
	padding-right:10px;
}

.AuthorName{
	color:white;
	margin-top: -60px;
	margin-left: 1.25vw;
	font-size:10px;
}

.DateOfQuark{
	color:white;
	margin-top: 0vh;
	margin-left: 1.25vw;
	font-size:10px;
}

/*home page styles */
#QuarksLogoHome{
	margin-left: 8vw;
	height: 60px;
	width: 60px;
}

#nameQuarksHome{
	font-family: 'Raleway';
	font-size: 40px;
	text-decoration: none;
	margin-left: -1vw;
	padding-right: 40vw;
}

#div1Home{
	background: white;
	height: 82vh;
	max-height: 82vh;
	min-height: 82vh;
}

#joinQuoteHome{
	margin-top: 35vh;
	margin-left: 10vw;
	font-family: 'Helvetica';
	font-size: 40px;
	font-weight: 900; 
}

#joinQuarksLineHome{
	margin-left: 10vw;
	font-family: 'Helvetica';
	font-size: 18px;
	width: 40vw; 
	margin-top: -5vh;
}

#homeAmoeba1{
	position: absolute;
	margin-left: 60vw;
	height: 500px;
	width: 500px;
}

#exploreQuarksHome{
	margin-left: 10vw;
}
